<%- include('./partials/_head.ejs') %>
    <section class="h-screen w-screen flex justify-center items-center">
      <h1 class="text-9xl">Opps! 400</h1>
    </section>

    <div id="pouch-root" style="display: block"></div>
<%- include('./partials/_end.ejs') %>
  